.createBill-container{
  width: 50%;
  margin: auto;
  margin-top: 2rem;    
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
table th, table td{
  border: 1px solid gray;
  padding: 10px;
}
tbody td{
  text-align: center;
}
.total{
  text-align: left;
  font-weight: bold;
}
.gotToHomePage{
  width: 30%;
  padding: 15px 0px;
  font-size: 18px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
}
.gotToHome{
  width: 30%;
  padding: 15px 0px;
  font-size: 18px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  float: right;
}